.MainContainer{
    /* border: 1px solid black; */
    height: 100%;
    margin-top: 10px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
 
}
.inputForm{
    /* border: 1px solid black;  */
    width: 100%; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
  
}
.Box1{
    /* border: 1px solid red; */
    width: 60%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px;
    padding-right: 10px;
}
.Box11{
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 20px;
}

.ThreeInput{
   /* border: 1px solid blue; */
margin-left: 10px;

}


.Box2{
    /* border: 1px solid greenyellow; */
    width: 35%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px;
}

.LeftSecond{
    /* border: 1px solid blue; */
    height: 100%;
    width: 60%;
}
.formSecond{
    /* border: 1px solid black; */
    height: 100px;
}

.CheckoutButton{
    /* border: 1px solid red; */
    height: 45px;
    width: 100%;
margin-top: 50px;
border-radius: 5px;

}
.button{
    background-color:RGBA(0, 0, 0, 0.80);
    color: white;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
 
}
.button:hover{
    background-color:RGBA(0, 0, 0, 0.92);
 
 
}

.AllProducts{
    /* border: 1px solid black; */
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
  
}
.flexComponents{
    /* border: 1px solid blue; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first{
    /* border: 1px solid red; */
    height: 20%;
    width: 34%;
}
.second{
    /* border: 1px solid red; */
    height: 20%;
    width: 34%;
    font-weight: bold; 
    text-align: center;
    align-items: center;
    padding: 10px;
  
}
.Totalprice{
    text-align: center;
}
